@keyframes fades {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:0.8;
    }
   }

.buttonIntroButton{
    width: 200px !important;
    opacity: 0.8;
    margin-top: 30px;
   
    
}

.buttonIntroButtonSlice{
   
   
    
}

.buttonIntroButton:hover{
    position: relative;
    content: url(https://i.ibb.co/5Yx4TG1/My-project-1-14.png);
    bottom: -1px;
    animation-duration: 3s;
    animation-name: fades;

}
